<!doctype html>
<html ng-app="app">
	<head>
		<!-- Latest compiled and minified CSS -->
		<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>-->
    <script src="lib/angular.js"></script>
    <script src="lib/localforage.min.js"></script>
    <script src="lib/angular-localForage.js"></script>
		<style type="text/css">
		</style>
	</head>

	<body>
		<div class='container'  ng-controller="defC as ca" >
			<div class="row">

				<div class="col-lg-1">
					<!-- spacer column -->
				</div>

				<div class="col-lg-4">
					<h1  class="page-header center" >Demo page</h1>
					<div ng-repeat="item in ca.cont" dy-dir="{{item.tpl}}"></div>
				</div>

				<div class="col-lg-4">
					<p/>
					<div>
						<a href='#' class='btn btn-primary btn-large' ng-click="ca.showPanel('lstCnt')" >Cont</a>
						<a href='#' class='btn btn-primary btn-large' ng-click="ca.showPanel('lstTpl')" >Templs</a>
						<a href='#' class='btn btn-primary btn-large' ng-click="ca.showPanel('lstPgs')" >Pages</a>
						<a href='#' class='btn btn-primary btn-large' ng-click="ca.showPanel('')" >Hide</a>						
					</div>
					<div ng-show="ca.showPan == 'lstCnt'" ng-include="'tpl/lstCnt.html'"></div>
					<div ng-show="ca.showPan == 'lstTpl'" ng-include="'tpl/lstTpl.html'"></div>
					<div ng-show="ca.showPan == 'lstPgs'" ng-include="'tpl/lstPgs.html'"></div>
					<div ng-show="ca.showPan == 'edCnt'" ng-include="'tpl/edCnt.html'"></div>
					<div ng-show="ca.showPan == 'edTpl'" ng-include="'tpl/edTpl.html'"></div>
					<div ng-show="ca.showPan == 'edPg'" ng-include="'tpl/edPg.html'"></div>
				</div>
			</div>

		</div>
	</body>
	<script src="scr/app.js"></script>
	<script src="scr/defC.js"></script>
	<script src="scr/dynD.js"></script>
	<script src="scr/datS.js"></script>
	<script src="scr/daDic.js"></script>
	<script src="scr/datIni.js"></script>
</html>